@model Usuario 
@{
    ViewData["Title"] = "usuarios";
}

<section class="cadastrar_TC">

            <div class="cadastro_conteudo_TC">
                <img src="~/imagem/Instadev (1).png" alt="">
                <h2>Cadastra-Se para ver e vídeos dos seu amigos</h2>
                <form>
                    <input type="text" class="input_Email_TC" placeholder="Email">
                    <input type="text" class="input_Nome_TC" placeholder="Nome Completo">
                    <input type="text" class="input_NomeUsuario_TC" placeholder="Nome de Usuário">
                    <input type="text" class="input_Senha_TC" placeholder="Senha">


                    <div class="cadastrarbotao_TC">
                        <input type="submit" value="Cadastrar-Se">
                        <!-- <button>Cadastra-Se</button> -->
                    </div>
                </form>



                <div class="informaçao_TC">
                    <p>Ao se cadastrar você concorda com os nossos Termos, Política de Dado e Política de Cookies</p>
                </div>

            </div>
            </div>

        </section>

        <section class="segundoquadrado_TC">
            <div class="alinharsegunfoquadrado_TC">
                <div class="Texto_TC">
                    <h3>Tem uma conta?</h3>
                    <a href="">Conecte-se</a>
                </div>
        </section>

        <section class="Partedefora_TC">
            <div class="Textopf_TC">
                <p>Obtenha o Aplicativo</p>

            </div>
            <div class="Imagens_TC">
                <a href="https://www.apple.com/br/app-store"> <img src="~/imagem/app_store 1.png" alt=""></a>
                <a href="https://play.google.com/store?hl=pt_BR&gl=US"> <img src="~/imagem/google_play 1.png" alt=""></a>
            </div>
            </div>

        </section>