@{
    ViewData["Title"] = "Home Page";
}

 <section class="divisao">
            <div class="quadro">
                <div class="login">
                    <h1 class="Logo">Instadev</h1>
                    <form action="metodo que eu vou estar chamando">
                        <input type= "text" class="Input_Email" placeholder="Email">
                        <input type= "text" class="input_Senha" placeholder="Senha">
                        
                        <div class="botao">
                            <input type="submit" class="botao2" value="Entrar"> 
    
                        </div>
                    </form>
                    

                    <div class="linhas">
                        <div class="linha"></div>
                        
                        <h1 class="ou">OU</h1>
    
                        <div class="linha"></div>
    
                    </div>


                    <a class="esqueceu" href="">Esqueceu a Senha?</a>

                </div>

            </div>
            <div class="semconta">
                <h3 class="conta" >Não tem uma conta? </h3>
                <a class="cadastrar" asp-area="" asp-controller="Usuario" asp-action ="Cadastrar">Cadastre-se</a>
            </div>
            <div class="paragrafo">
                <p>Obtenha o aplicativo.</p>
            </div>

            <div>
                <a  href><img class="apple" src="assets/apple_icon-removebg.png"></a>
                <a  href><img class="playstore" src="assets/playstore_icon-removebg.png"></a>
            </div>

        </section>